@import "tailwindcss";

:root {
  --primary: #262956;
  --foreground: #171717;
  --background: #ffffff;
  --background-secondary: #f9f9f9;
  --text-primary: #262956;
  --text-secondary: #666666;
  --border: #e5e5e5;
}

.dark {
  --primary: #262956;
  --foreground: #ededed;
  --background: #0a0a0a;
  --background-secondary: #1a1a1a;
  --text-primary: #ffffff;
  --text-secondary: #cccccc;
  --border: #333333;
}

@layer utilities {
  .bg-primary {
    background-color: var(--primary);
  }
  .text-primary {
    color: var(--primary);
  }
  .bg-theme {
    background-color: var(--background);
  }
  .bg-theme-secondary {
    background-color: var(--background-secondary);
  }
  .text-theme-primary {
    color: var(--text-primary);
  }
  .text-theme-secondary {
    color: var(--text-secondary);
  }
  .border-theme {
    border-color: var(--border);
  }
}

html {
  scroll-behavior: smooth;
  /* color: #000; */
}
