@import "tailwindcss";

:root {
  --primary: #262956;
  --foreground: #171717;
}

@layer utilities {
  .bg-primary {
    background-color: var(--primary);
  }
  .text-primary {
    color: var(--primary);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
  /* color: #000; */
}
